.App {
  text-align: center;
  font-size: 12px;
  font-family: 'Dongle', sans-serif;
  font-family: 'Inter', sans-serif;
  font-family: 'Spectral', serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

input {
  /* color: aliceblue; */
  padding: 20px;
  margin: 20px;
  /* background-color: #282c34; */
  caret-color: gray;  /* A vertical line that hovers over the text-box */
  box-shadow: 0 0px 5px 0 rgba(0,0,0,0.2);
}

img {
  /* height: 20%;
  width: 20%; */
  height: 300px;
  width: 300px;
  padding: 20px;
}

.img-grid span {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 25px;
  cursor: pointer;
}

.img-grid {
  width: 70%;
  padding: 0 15%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.img-grid div {
  position: relative;
}


.search-bar {
  margin: 20px;
  margin-bottom: 50px;
}

.btn {
  padding: 18px;
  font-size: 18px;
  background-color: #0ba6ff;
  cursor: pointer;
  color: white;
}

input, .btn {
  border-radius: 8px;
}

.btn:hover {
  background-color: #1183ca;
}

.zoom {
  padding: 20px;
  transition: transform .2s; /* Animation */
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
